*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}
.imgBox{
    position: relative;
    width: 442px;
    height: 500px;    
    margin: auto;
}
.imgBox textarea{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    max-width: 60%;
    min-height: 60%;
    max-height: 60%;
    background: url(scrash.png);
    background-repeat: no-repeat;
    border: none;
    opacity: 0.4;
    filter: grayscale(1);
    resize: vertical;
}
.imgBox textarea:nth-child(2){
    opacity: 1;
    filter: grayscale(0);
    width: 5px;
    max-height: 60%;
    min-height: 60%;
    border-right: 2px solid #FFF;
    resize: horizontal;
}