*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50vw;
    background: #333;
    border: gold 1px solid;
    border-radius: 10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.s{
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}