body{
    background: #333;
}
.area{
    position: absolute;
    top: 30vh;
    left: 30vw;
}
.alfabeto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 20vw;
    padding: 2rem;
    top: 2.5vh;
    left: -7vw;
    color: #fff;
    background: #000;
    border-radius: 1rem;
}
figure{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
}
p{
    position: relative;
    left: -7vw;
}
input{
    height: 3rem;
    text-align: center;
    border: none;
    background-color: #000;
}
button{
    height: 3.3rem;
    border: none;    
    font-family: sans-serif;
}
#entrada{
    color: #fff;
}
#resultado{
    color: #5cb85c;
}
#bt1{
    margin-left: 3rem;
    background-color: #5cb85c;
}
#bt2{
    background-color: #d9534f;
}
h1{
    color: #fff;
    margin: .3rem;
}
h2{
    color: #5cb85c;
    margin: .3rem;
}
